.kwf-ext-field-file {
    .x-form-item-body {
        .box {
            float: left;
            margin-right: 20px;
        }
        .uploadButton {
            float: left;
            margin-right: 10px;
        }
        .info-container {
            margin-top: 3px;
            margin-left: 60px;
        }
    }
}
